Description: The GNU compression utility
 This is the standard GNU file compression utility, which is also the default
 compression tool for Debian. It typically operates on files with names
 ending in '.gz'.
 This package can also decompress '.Z' files created with 'compress'.
