Description: Stratagus is a free cross-platform real-time strategy
 gaming engine.
 The engine is configurable and can be used to create games with a
 wide-range of features specific to your needs.
 .
 See http://stratagus.sourceforge.net/ for more details.
