Description: Sargasso - RSS feed reader
 Sargasso is a viewer for RSS feeds. RSS is a format for syndicating news
 and the content of news-like sites. To find out more, see
 .
 http://www.xml.com/pub/a/2002/12/18/dive-into-xml.html
  