Description: QtScripts libraries
  Qt is a cross-platform C++ application framework. Qt's primary feature
  is its rich set of widgets that provide standard GUI functionality.
  .
  The QtScript module provides classes for making Qt applications scriptable.
