License: Free
Description: Platform game.
 The Legend of Edgar is a Platform game, not unlike those found
 on the Amiga and SNES. Edgar must battle his way across the world,
 solving puzzles and defeating powerful enemies to achieve his quest.
