License: Free
Description: Action RPG Engine/Game.
 FLARE is an engine for Isometric Action RPG games (think Diablo),
 which contains a complete game (which needs a name) showing off the
 engine's features.

