Package: PACKAGE
Section: Library
Priority: Optional
Licence: Free
Maintainer: Alan Buckley <alan_baa@hotmail.com>
Standards-Version: 0.1.0
Version: VERSION-RELEASE
Description: A cross-platform multi-media C development API
 This is the Simple DirectMedia Layer, a general API that
 provides low level access to audio, keyboard, mouse,
 joystick, and 2D framebuffer across multiple platforms.
