License: Free
Description: Hospital Simulation.
 CorsixTH is an open source reimplementation of the Bullfrog hit
 game Theme Hospital. To play, you need to own a copy of Theme
 Hospital, which provides the graphics and sounds for CorsixTH.
