License: Free
Description: Word game.
 The aim is to find as many words as possible in the time available.
 Get the longest word and you'll advance to the next level.
 
 The words describe it...
 
 Simple Addictive Fun