Description: Save the pingus puzzle game
 Pingus is a free Lemmings (tm) like puzzle game where you
 have to guide the pingus through a level to the exit by
 giving them commands, like build a bridge, dig a hole or
 redirect all pingus in another direction.
