Licence: Free
Description: GPXSee is a GPS log file viewer and analyzer that supports all
 common GPS log file formats.
 .
 GPXSee is designed as a small (no dependencies except of Qt), fast and
 uncomplicated GPS data/map viewer, not a full featured GIS software.
 However, the spectrum of supported data files/map sources is relatively rich,
 see the Documentation section for details.
Homepage: https://www.gpxsee.org