Description: GNU Wget is a free utility for non-interactive download of files from the Web.
 It supports HTTP, HTTPS, and FTP protocols, as well as retrieval through HTTP proxies.
 .
 *Can modify links in a recursive download so they will work locally, or to actual internet
 links for a single page download.
 *Can retrieve, save and load cookies, post a text file or form information. (logins)
 *Configuration either by config file or command line. ca-bundle can be installed for https.
