Licence: Free
Description: Re-implementation of the engine used in the game Flashback.
 Flashback was made by Delphine Software and released in 1992.
 .
 You will also need the original data files to play this game and
 only the PC DOS versions are supported.
