Description: Wargus is a Warcraft2 Mod that allows you to play Warcraft2
 with the Stratagus engine, as opposed to play it with the original
 Warcraft2 one, so you need to have a legal copy of Warcraft2 (original
 DOS Version required, it won't work with the battle.net edition).
