Description: Terminal emulator and telnet client
 Nettle is *the* terminal emulator and telnet client for the
 RISC OS operating system. It utilises the ZapRedraw module
 for speedy display and is a fast, clean native implementation.
 .
 It supports a range of terminal emulation options,
 along with full colour and graphics.  An ANSI task window is
 provided, so that ports of unix programs which provide
 ANSI output can be run on RISC OS in full colour and form.
Licence: Free